/* GLOBAL STYLES */

html {
    scroll-behavior: smooth
}
body {
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.clearfix {
  clear:both;
}

section {
  padding:20px 0 50px 0;
}
section.color {
  background: #2776dc;
  color: #fff;
  padding: 25px;
}
.section {
   text-align: center;
   padding: 20px 0;
}
.top-left {
  float:left;
}
.top-right {
  float:right;
  margin-right: 40px;
}

/* COLUMNS */

.col-md {
     width: 33.33333333%;
}
.col-sm {
    width: 25%;
}
.container {
    width:100%;
}


/* TYPOGRAPGHY */

p {
  font-size: 14px;
  font-weight:300;
  line-height: 18px;
}

h1 {
    color: #fff;
    font-size: 20px;
    padding-left: 40px;
    font-weight: 300;
}
h2 {
    color: #000;
    font-size: 30px;
    margin:0;
}
h3 {
  text-transform:uppercase;
  border-bottom: solid 2px #0080ff;
  font-size:35px;
}

footer p {
  color:#fff;
  margin:0;
  font-weight:300;
  font-size:12px;
  padding: 20px 40px;
}

.section-title {
    font-size:24px;
    text-transform:uppercase;
    line-height:24px;
}
.section p {
    font-size: 16px;
    font-weight:300;
    padding: 0 20px;
}

header {
  background:#000;
  width:100%;
  height:60px;
}

/* NAVIGATION STYLES */

nav {
  display:inline;
}
nav li {
    list-style: none;
    float: left;
    padding-left:35px;
}
nav ul li a {
    color: #B1B1B1;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    list-style: none;
    text-decoration: none;
    display:inline;
}
nav ul li a.active, nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    color: #FFF;
}


/* BUTTONS */

.btn {
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 25px;
    -webkit-transition: .25s;
    transition: .25s;
    color: #fff;
    text-transform: uppercase;
    background: #2776dc;
    font-size:14px;
    text-align: center;
    white-space: nowrap;
    font-weight:300;

}
.btn-rounded {
    border-radius: 30px;
    -webkit-border-radius: 30px;
}
a {
  text-decoration:none;
  color: #fff;
}

.hero .page-title .btn {
    padding: 17px 30px;
    text-transform: uppercase;
    margin-top: 50px;
}
a.btn:focus,
a.btn:active,
a.btn:hover
{
  background: #e74c3c;
}


.overlay {
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: transparent linear-gradient(to bottom, transparent 0px, rgba(0, 0, 0, 0.75) 100%) repeat scroll 0% 0%;
    transition: background 0.25s linear 0s;
}
.post-title {
    display: block;
    width: 100%;
    margin-top: 40px;
}
section.about {
padding: 40px;
background-image: url(img/bwnn-contact.jpg);
background-repeat: no-repeat;
background-size:cover;
height:100px;
}
.about p {
  font-size:24px;
  color: #fff;
  margin-bottom:20px;
  line-height:1.6;
  font-weight:300;
  margin:0;
}
footer {
  background: #000;
  height: 60px;
}
.col-third {
    width: 33.33%;
    float:left;
}
section.pattern {
  background-image: url(img/subtlenet2.png);
  background-repeat: repeat;
  background-color:rgba(39, 118, 220, 1);
  height:950px;
}
.item {
  width: 360px;
  float:left;
  padding-left: 15px;
  padding-right:15px;
}
.item-sm {
  width: 260px;
  float:left;
  padding-left: 15px;
  padding-right:15px;
}
.review-list {
  text-align: center;
  margin-bottom:35px;
}
.review-img {
    display: block;
}
.review-list .review-img img {
    width: 360px;
    height:200px;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.review-list .review-img-sm img {
    width: 260px;
    height:300px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.review-list .label {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -20px;
    border-radius: 50%;
    width: 46px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.08);
    font-size: 14px;
    font-weight: bold;
}

.label {
    display: inline-block;
    padding: 7px;
    font-weight: 500;
    border-radius: 3px;
    text-shadow: none;
    border: 0;
    color:#fff;
    white-space: nowrap;
    vertical-align:baseline;
}
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #ff8e2b;
}
.label-danger {
    background-color: #e74c3c;
}
.item .caption {
    padding: 25px 20px;
    background: #FFF;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dcdcdc;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.07);
    -webkit-transition: .25s;
    transition: .25s;
    color: #6d6d6d;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.item-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}
.item .caption p {
    font-size: 14px;
    font-weight:300;
    line-height:22px;
}
.hero {
      background-image: url(img/mk-hero-cassie.jpg);
}
.hero-bottom {
      background-image: url(img/bwnn-contact.jpg);
}
section.hero {
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 60px 0;
}
.page-header {
    border: 0;
    text-align: left;
    margin: 0 0 25px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7);
}
section .page-title {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
}
section.hero .hero-bg {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    z-index: 2;
}

section.hero>.container .page-header {
    vertical-align: middle;
    text-align: center;
    border: 0;
    margin-top: 9%;
}
section.hero p {
    color:#fff;
    margin-bottom:50px;
}
.color p {
 font-size:18px;
 text-align: center;
 line-height:28px;
}
.menu-list p {
  text-align: center;
  font-size:16px;
}

section.hero>.container {
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (min-width: 480px) {
    section.pattern {
    background-image: url(img/subtlenet2.png);
    background-repeat: repeat;
    background-color: rgba(39, 118, 220, 1);
    height: auto;
    }
    section.hero {
    height: 350px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 60% 20%;
    background-size: cover;
    padding: 60px 0;
    }
    section {
    padding: 30px 0 30px 0;
    }
    .item-sm {
    width: 260px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    }
    .col-sm {
    width: 100%;
    }
    .item {
    width: 360px;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }
    .col-md {
    width: 100%;
    }
 
}
@media screen and (min-width: 720px) {
    .container {
    width: 690px;
    margin:auto;
    }
    .col-md {
     width: 33.33333333%;
     float:left;
    }
    .col-sm {
    width: 50%;
    float:left;
    }
    .review-list .review-img img {
    width: 205px;
    height: 150px;
    border-radius: 0;
    -webkit-border-radius: 0;
    }
    .item {
    width: 205px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    }
    section.pattern {
    background-image: url(img/subtlenet2.png);
    background-repeat: repeat;
    background-color: rgba(39, 118, 220, 1);
    height: 940px;
    }
}
@media screen and (min-width: 1024px) {
    h2 {
    color: #000;
    font-size: 30px;
    padding-right: 0;
    margin:0;
    padding-top:0;
    }
    .container {
    width: 980px;
    margin:auto;
    }
    .section p {
    font-size: 16px;
    font-weight:300;
    }
    section.about {
    padding: 40px;
    background-image: url(img/bwnn-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    }
    .review-list .review-img img {
    width: 290px;
    height:200px;
    border-radius: 0;
    -webkit-border-radius: 0;
    }
    .item {
    width: 290px;
    }
    .review-list .review-img-sm img {
    width: 210px;
    height: 300px;
    border-radius: 0;
    -webkit-border-radius: 0;
    }
    .item-sm {
    width: 200px;
    }
}

